# Pre-Proccessing

In [13]:
# Import statements
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Display options
pd.set_option('display.max_columns', None)

In [2]:
hr_employee_attrition = pd.read_csv( "./Data/WA_Fn-UseC_-HR-Employee-Attrition.csv", delimiter = ",")

### Functions

In [3]:
# Function:    dummyConversion
# Input:       Dataframe and Attribute
# Return:      Dataframe
# URL:         https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python
def dummyConversion(df, attribute):
    dataframe = df
    # Dummy conversion
    dummy = pd.get_dummies(dataframe[attribute], prefix = attribute)
    # Drop attribute
    dataframe = dataframe.drop(attribute,axis = 1)
    # Add dummy attributes to the dataframe
    dataframe = dataframe.join(dummy)
    return dataframe

### Save Attrition to CSV file.

In [4]:
# Map Yes/No to 1/0
hr_employee_attrition['Attrition'] = hr_employee_attrition.Attrition.map(dict(Yes=1, No=0))
# Save to CSV file
Attrition = hr_employee_attrition['Attrition']
Attrition.to_csv('./Data/Attrition.csv', index=False)

### Normalize numeric attributes.

In [5]:
# https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame

column_names_to_normalize = ['Age', 'DailyRate', 'DistanceFromHome', 'HourlyRate', 'JobLevel', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
x = hr_employee_attrition[column_names_to_normalize].values
x_scaled = MinMaxScaler().fit_transform(x)
temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = hr_employee_attrition.index)
hr_employee_attrition[column_names_to_normalize] = temp
hr_employee_attrition

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.547619,1,Travel_Rarely,0.715820,Sales,0.000000,2,Life Sciences,1,1,2,Female,0.914286,3,0.25,Sales Executive,4,Single,0.262454,0.698053,0.888889,Y,Yes,0.000000,3,1,80,0.000000,0.200,0.000000,1,0.150,0.222222,0.000000,0.294118
1,0.738095,0,Travel_Frequently,0.126700,Research & Development,0.250000,1,Life Sciences,1,2,3,Male,0.442857,2,0.25,Research Scientist,2,Married,0.217009,0.916001,0.111111,Y,No,0.857143,4,4,80,0.333333,0.250,0.500000,3,0.250,0.388889,0.066667,0.411765
2,0.452381,1,Travel_Rarely,0.909807,Research & Development,0.035714,2,Other,1,4,4,Male,0.885714,2,0.00,Laboratory Technician,3,Single,0.056925,0.012126,0.666667,Y,Yes,0.285714,3,2,80,0.000000,0.175,0.500000,3,0.000,0.000000,0.000000,0.000000
3,0.357143,0,Travel_Frequently,0.923407,Research & Development,0.071429,4,Life Sciences,1,5,4,Female,0.371429,3,0.00,Research Scientist,3,Married,0.100053,0.845814,0.111111,Y,Yes,0.000000,3,3,80,0.000000,0.200,0.500000,3,0.200,0.388889,0.200000,0.000000
4,0.214286,0,Travel_Rarely,0.350036,Research & Development,0.035714,1,Medical,1,7,1,Male,0.142857,3,0.00,Laboratory Technician,2,Married,0.129489,0.583738,1.000000,Y,No,0.071429,3,4,80,0.333333,0.150,0.500000,3,0.050,0.111111,0.133333,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0,Travel_Frequently,0.559771,Research & Development,0.785714,2,Medical,1,2061,3,Male,0.157143,4,0.25,Laboratory Technician,4,Married,0.082254,0.409396,0.444444,Y,No,0.428571,3,3,80,0.333333,0.425,0.500000,3,0.125,0.111111,0.000000,0.176471
1466,0.500000,0,Travel_Rarely,0.365784,Research & Development,0.178571,1,Medical,1,2062,4,Male,0.171429,2,0.50,Healthcare Representative,1,Married,0.472986,0.777474,0.444444,Y,No,0.285714,3,1,80,0.333333,0.225,0.833333,3,0.175,0.388889,0.066667,0.411765
1467,0.214286,0,Travel_Rarely,0.037938,Research & Development,0.107143,3,Life Sciences,1,2064,2,Male,0.814286,4,0.25,Manufacturing Director,2,Married,0.270300,0.123670,0.111111,Y,Yes,0.642857,4,2,80,0.333333,0.150,0.000000,3,0.150,0.111111,0.000000,0.176471
1468,0.738095,0,Travel_Frequently,0.659270,Sales,0.035714,3,Medical,1,2065,4,Male,0.471429,2,0.25,Sales Executive,2,Married,0.230700,0.447661,0.222222,Y,No,0.214286,3,4,80,0.000000,0.425,0.500000,2,0.225,0.333333,0.000000,0.470588
1469,0.380952,0,Travel_Rarely,0.376521,Research & Development,0.250000,3,Medical,1,2068,2,Male,0.742857,4,0.25,Laboratory Technician,3,Married,0.178778,0.326601,0.222222,Y,No,0.071429,3,1,80,0.000000,0.150,0.500000,4,0.100,0.166667,0.066667,0.117647

### Convert Categorical(Ordinal) attributes to Categorical(Nominal)

In [6]:
# Education
education_map = {1 : 'Below College', 2 : 'College', 3 : 'Bachelor', 4 : 'Master', 5 : 'Doctor'}
hr_employee_attrition['Education'] = hr_employee_attrition['Education'].map(education_map)

# EnvironmentSatisfaction
environment_satisfaction_map = {1 : 'Low', 2 : 'Medium', 3 : 'High', 4 : 'Very High'}
hr_employee_attrition['EnvironmentSatisfaction'] = hr_employee_attrition['EnvironmentSatisfaction'].map(environment_satisfaction_map)

# JobInvolvement
job_involvement_map = {1 : 'Low', 2 : 'Medium', 3 : 'High', 4 : 'Very High'}
hr_employee_attrition['JobInvolvement'] = hr_employee_attrition['JobInvolvement'].map(job_involvement_map)

# JobSatisfaction
job_satisfaction_map = {1 : 'Low', 2 : 'Medium', 3 : 'High', 4 : 'Very High'}
hr_employee_attrition['JobSatisfaction'] = hr_employee_attrition['JobSatisfaction'].map(job_satisfaction_map)

# PerformanceRating
performance_rating_map = {1 : 'Low', 2 : 'Good', 3 : 'Excellent', 4 : 'Outstanding'}
hr_employee_attrition['PerformanceRating'] = hr_employee_attrition['PerformanceRating'].map(performance_rating_map)

# RelationshipSatisfaction
relationship_satisfaction_map = {1 : 'Low', 2 : 'Medium', 3 : 'High', 4 : 'Very High'}
hr_employee_attrition['RelationshipSatisfaction'] = hr_employee_attrition['RelationshipSatisfaction'].map(relationship_satisfaction_map)

# WorkLifeBalance 
work_life_balance_map = {1 : 'Bad', 2 : 'Good', 3 : 'Better', 4 : 'Best'}
hr_employee_attrition['WorkLifeBalance'] = hr_employee_attrition['WorkLifeBalance'].map(work_life_balance_map)

hr_employee_attrition

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.547619,1,Travel_Rarely,0.715820,Sales,0.000000,College,Life Sciences,1,1,Medium,Female,0.914286,High,0.25,Sales Executive,Very High,Single,0.262454,0.698053,0.888889,Y,Yes,0.000000,Excellent,Low,80,0.000000,0.200,0.000000,Bad,0.150,0.222222,0.000000,0.294118
1,0.738095,0,Travel_Frequently,0.126700,Research & Development,0.250000,Below College,Life Sciences,1,2,High,Male,0.442857,Medium,0.25,Research Scientist,Medium,Married,0.217009,0.916001,0.111111,Y,No,0.857143,Outstanding,Very High,80,0.333333,0.250,0.500000,Better,0.250,0.388889,0.066667,0.411765
2,0.452381,1,Travel_Rarely,0.909807,Research & Development,0.035714,College,Other,1,4,Very High,Male,0.885714,Medium,0.00,Laboratory Technician,High,Single,0.056925,0.012126,0.666667,Y,Yes,0.285714,Excellent,Medium,80,0.000000,0.175,0.500000,Better,0.000,0.000000,0.000000,0.000000
3,0.357143,0,Travel_Frequently,0.923407,Research & Development,0.071429,Master,Life Sciences,1,5,Very High,Female,0.371429,High,0.00,Research Scientist,High,Married,0.100053,0.845814,0.111111,Y,Yes,0.000000,Excellent,High,80,0.000000,0.200,0.500000,Better,0.200,0.388889,0.200000,0.000000
4,0.214286,0,Travel_Rarely,0.350036,Research & Development,0.035714,Below College,Medical,1,7,Low,Male,0.142857,High,0.00,Laboratory Technician,Medium,Married,0.129489,0.583738,1.000000,Y,No,0.071429,Excellent,Very High,80,0.333333,0.150,0.500000,Better,0.050,0.111111,0.133333,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0,Travel_Frequently,0.559771,Research & Development,0.785714,College,Medical,1,2061,High,Male,0.157143,Very High,0.25,Laboratory Technician,Very High,Married,0.082254,0.409396,0.444444,Y,No,0.428571,Excellent,High,80,0.333333,0.425,0.500000,Better,0.125,0.111111,0.000000,0.176471
1466,0.500000,0,Travel_Rarely,0.365784,Research & Development,0.178571,Below College,Medical,1,2062,Very High,Male,0.171429,Medium,0.50,Healthcare Representative,Low,Married,0.472986,0.777474,0.444444,Y,No,0.285714,Excellent,Low,80,0.333333,0.225,0.833333,Better,0.175,0.388889,0.066667,0.411765
1467,0.214286,0,Travel_Rarely,0.037938,Research & Development,0.107143,Bachelor,Life Sciences,1,2064,Medium,Male,0.814286,Very High,0.25,Manufacturing Director,Medium,Married,0.270300,0.123670,0.111111,Y,Yes,0.642857,Outstanding,Medium,80,0.333333,0.150,0.000000,Better,0.150,0.111111,0.000000,0.176471
1468,0.738095,0,Travel_Frequently,0.659270,Sales,0.035714,Bachelor,Medical,1,2065,Very High,Male,0.471429,Medium,0.25,Sales Executive,Medium,Married,0.230700,0.447661,0.222222,Y,No,0.214286,Excellent,Very High,80,0.000000,0.425,0.500000,Good,0.225,0.333333,0.000000,0.470588
1469,0.380952,0,Travel_Rarely,0.376521,Research & Development,0.250000,Bachelor,Medical,1,2068,Medium,Male,0.742857,Very High,0.25,Laboratory Technician,High,Married,0.178778,0.326601,0.222222,Y,No,0.071429,Excellent,Low,80,0.000000,0.150,0.500000,Best,0.100,0.166667,0.066667,0.117647

### Convert Categorical(Nominal) to dummy variables.

In [7]:
# Education
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'Education')
# EnvironmentSatisfaction
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'EnvironmentSatisfaction')
# JobInvolvement
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'JobInvolvement')
# JobSatisfaction
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'JobSatisfaction')
# PerformanceRating
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'PerformanceRating')
# RelationshipSatisfaction
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'RelationshipSatisfaction')
# WorkLifeBalance
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'WorkLifeBalance')

# BusinessTravel
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'BusinessTravel')
# Department
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'Department')
# EducationField
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'EducationField')
# Gender
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'Gender')
# JobRole
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'JobRole')
# MaritalStatus
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'MaritalStatus')
# OverTime
hr_employee_attrition = dummyConversion(hr_employee_attrition, 'OverTime')

hr_employee_attrition

,Age,Attrition,DailyRate,DistanceFromHome,EmployeeCount,EmployeeNumber,HourlyRate,JobLevel,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Education_Bachelor,Education_Below College,Education_College,Education_Doctor,Education_Master,EnvironmentSatisfaction_High,EnvironmentSatisfaction_Low,EnvironmentSatisfaction_Medium,EnvironmentSatisfaction_Very High,JobInvolvement_High,JobInvolvement_Low,JobInvolvement_Medium,JobInvolvement_Very High,JobSatisfaction_High,JobSatisfaction_Low,JobSatisfaction_Medium,JobSatisfaction_Very High,PerformanceRating_Excellent,PerformanceRating_Outstanding,RelationshipSatisfaction_High,RelationshipSatisfaction_Low,RelationshipSatisfaction_Medium,RelationshipSatisfaction_Very High,WorkLifeBalance_Bad,WorkLifeBalance_Best,WorkLifeBalance_Better,WorkLifeBalance_Good,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.547619,1,0.715820,0.000000,1,1,0.914286,0.25,0.262454,0.698053,0.888889,Y,0.000000,80,0.000000,0.200,0.000000,0.150,0.222222,0.000000,0.294118,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
1,0.738095,0,0.126700,0.250000,1,2,0.442857,0.25,0.217009,0.916001,0.111111,Y,0.857143,80,0.333333,0.250,0.500000,0.250,0.388889,0.066667,0.411765,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0
2,0.452381,1,0.909807,0.035714,1,4,0.885714,0.00,0.056925,0.012126,0.666667,Y,0.285714,80,0.000000,0.175,0.500000,0.000,0.000000,0.000000,0.000000,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1
3,0.357143,0,0.923407,0.071429,1,5,0.371429,0.00,0.100053,0.845814,0.111111,Y,0.000000,80,0.000000,0.200,0.500000,0.200,0.388889,0.200000,0.000000,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
4,0.214286,0,0.350036,0.035714,1,7,0.142857,0.00,0.129489,0.583738,1.000000,Y,0.071429,80,0.333333,0.150,0.500000,0.050,0.111111,0.133333,0.117647,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0,0.559771,0.785714,1,2061,0.157143,0.25,0.082254,0.409396,0.444444,Y,0.428571,80,0.333333,0.425,0.500000,0.125,0.111111,0.000000,0.176471,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1466,0.500000,0,0.365784,0.178571,1,2062,0.171429,0.50,0.472986,0.777474,0.444444,Y,0.285714,80,0.333333,0.225,0.833333,0.175,0.388889,0.066667,0.411765,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1467,0.214286,0,0.037938,0.107143,1,2064,0.814286,0.25,0.270300,0.123670,0.111111,Y,0.642857,80,0.333333,0.150,0.000000,0.150,0.111111,0.000000,0.176471,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
1468,0.738095,0,0.659270,0.035714,1,2065,0.471429,0.25,0.230700,0.447661,0.222222,Y,0.214286,80,0.000000,0.425,0.500000,0.225,0.333333,0.000000,0.470588,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0
1469,0.380952,0,0.376521,0.250000,1,2068,0.742857,0.25,0.178778,0.326601,0.222222,Y,0.071429,80,0.000000,0.150,0.500000,0.100,0.166667,0.066667,0.117647,1,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0

### Attributes to be dropped.

In [8]:
# Drop Attrition (Class Label)
hr_employee_attrition = hr_employee_attrition.drop(['Attrition'], axis=1)

# EmployeeNumber (Index)
hr_employee_attrition = hr_employee_attrition.drop(['EmployeeNumber'], axis=1)

# Drop EmployeeCount = 1
hr_employee_attrition = hr_employee_attrition.drop(['EmployeeCount'], axis=1)
# Drop Over18 = Y
hr_employee_attrition = hr_employee_attrition.drop(['Over18'], axis=1)
# Drop StandardHours = 80
hr_employee_attrition = hr_employee_attrition.drop(['StandardHours'], axis=1)

# Drop JobLevel (High Correlation, 95%)
hr_employee_attrition = hr_employee_attrition.drop(['JobLevel'], axis=1)
# Drop MonthlyIncome (High Correlation, 95%)
hr_employee_attrition = hr_employee_attrition.drop(['MonthlyIncome'], axis=1)


hr_employee_attrition

,Age,DailyRate,DistanceFromHome,HourlyRate,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Education_Bachelor,Education_Below College,Education_College,Education_Doctor,Education_Master,EnvironmentSatisfaction_High,EnvironmentSatisfaction_Low,EnvironmentSatisfaction_Medium,EnvironmentSatisfaction_Very High,JobInvolvement_High,JobInvolvement_Low,JobInvolvement_Medium,JobInvolvement_Very High,JobSatisfaction_High,JobSatisfaction_Low,JobSatisfaction_Medium,JobSatisfaction_Very High,PerformanceRating_Excellent,PerformanceRating_Outstanding,RelationshipSatisfaction_High,RelationshipSatisfaction_Low,RelationshipSatisfaction_Medium,RelationshipSatisfaction_Very High,WorkLifeBalance_Bad,WorkLifeBalance_Best,WorkLifeBalance_Better,WorkLifeBalance_Good,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.547619,0.715820,0.000000,0.914286,0.698053,0.888889,0.000000,0.000000,0.200,0.000000,0.150,0.222222,0.000000,0.294118,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
1,0.738095,0.126700,0.250000,0.442857,0.916001,0.111111,0.857143,0.333333,0.250,0.500000,0.250,0.388889,0.066667,0.411765,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0
2,0.452381,0.909807,0.035714,0.885714,0.012126,0.666667,0.285714,0.000000,0.175,0.500000,0.000,0.000000,0.000000,0.000000,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,1
3,0.357143,0.923407,0.071429,0.371429,0.845814,0.111111,0.000000,0.000000,0.200,0.500000,0.200,0.388889,0.200000,0.000000,0,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
4,0.214286,0.350036,0.035714,0.142857,0.583738,1.000000,0.071429,0.333333,0.150,0.500000,0.050,0.111111,0.133333,0.117647,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0.559771,0.785714,0.157143,0.409396,0.444444,0.428571,0.333333,0.425,0.500000,0.125,0.111111,0.000000,0.176471,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1466,0.500000,0.365784,0.178571,0.171429,0.777474,0.444444,0.285714,0.333333,0.225,0.833333,0.175,0.388889,0.066667,0.411765,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0
1467,0.214286,0.037938,0.107143,0.814286,0.123670,0.111111,0.642857,0.333333,0.150,0.000000,0.150,0.111111,0.000000,0.176471,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
1468,0.738095,0.659270,0.035714,0.471429,0.447661,0.222222,0.214286,0.000000,0.425,0.500000,0.225,0.333333,0.000000,0.470588,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1,0
1469,0.380952,0.376521,0.250000,0.742857,0.326601,0.222222,0.071429,0.000000,0.150,0.500000,0.100,0.166667,0.066667,0.117647,1,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0

### Save hr_employee to CSV file.

In [9]:
hr_employee = hr_employee_attrition
hr_employee.to_csv('./Data/HR_Employee.csv', index=False)

### Create training and hold-out testing set

In [17]:
X = hr_employee
Y = Attrition

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1176, 69) (1176,)
(294, 69) (294,)